html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: lightblue;
}

header {
    color: white;
    background-color: darkblue;
    text-align: center;
}

nav {
    color: white;
    background-color: #0039a6;
}

nav > ul {
    padding: 0;
    display: flex;
    max-width: 60em;
    margin: auto;
    /* margin: 0 5em; */
}

nav ul {
    padding: 0;
}

nav li {
    margin: .25em 2px .25em 2px;
    display: block;
    list-style: none;
}

nav li:hover {
    background-color: lightblue;
}

nav .submenu {
}

nav .submenu:hover .submenu-contents {
    display: block;
}

nav .submenu-contents {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #3457D5;
}

nav .submenu-contents a {
    text-align: left;
}

nav a,
nav span {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 2em;
    text-align: center;
    height: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

nav span {
    cursor: pointer;
}

main {
    margin: 0em auto;
    flex-grow: 1;
    background-color: hsl(195, 53%, 90%);
    width: 100%;
    max-width: 60em;
}

article {
    max-width: 50rem;
    line-height: 2rem;
    padding: 5em;
}

footer {
    margin-top: auto;
    height: 2em;
    color: white;
    background-color: darkblue;
}

footer a {
    color: white;
}

img {
    object-fit: contain;
    width: 70%;
    display: block;
    margin: auto;
}

audio,
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
}
