_WITH_TEMPLATE
<article>
  <figure>
    <img src="/media/Mittellandkanal.png" />
    <figcaption>
      Bild von Reinhard Kraasch -
      <a href="https://creativecommons.org/licenses/by-sa/4.0">
        CC BY-SA 4.0
      </a>
    </figcaption>
  </figure>
</article>
_END_TEMPLATE
